/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~bootstrap-icons/font/bootstrap-icons.css";

@import url("https://fonts.googleapis.com/css2?family=DM+Sans&display=swap");

html {
  overflow-y: hidden;
  overflow-x: hidden;
}

body {
  margin: 0rem;
  color: #fffafa !important;
  background-color: #121212 !important;
}

.text-decoration-download-btn {
  text-decoration: none !important;
}
