<app-navbar></app-navbar>
<div class="a_box">
  <div class="b_box">
    <div class="text-center container">
      <img
        src="./../../assets/img/img-color_black.png"
        height="180"
        width="180"
        style="border-radius: 50% !important"
        alt="profile-pic"
      />
      <h2 class="mt-3">{{ myName }}</h2>
      <p class="mt-3">
        💻 Computer Engineer & Full Stack Developer 🤓 <br />
        angular | asp.net | mongodb
      </p>

      <div class="mt-3">
        <a href="https://github.com/jorgeclenio">
          <button
            type="button"
            class="btn btn-outline-secondary text-decoration-download-btn"
          >
            <i class="bi bi-github"></i>
            GitHub
          </button>
        </a>
        <a
          style="margin-left: 10px"
          href="./../../assets/docs/cv_jorgeclenio2023_pt-br.pdf"
          download="cv_jorgeclenio2023_pt-br.pdf"
        >
          <button
            type="button"
            class="btn btn-outline-secondary text-decoration-download-btn"
          >
            <i class="bi bi-cloud-arrow-down-fill"></i>
            Currículo
          </button>
        </a>
        <a style="margin-left: 10px" href="https://www.linkedin.com/in/jrgcln/">
          <button
            type="button"
            class="btn btn-outline-secondary text-decoration-download-btn"
          >
            <i class="bi bi-linkedin"></i>
            LinkedIn
          </button>
        </a>
      </div>
    </div>
  </div>
</div>
